body{
    background-color: white;
}
input[type=checkbox].check1 {display: none;}
input[type=checkbox].check1 + label { 
    background: #fff; 
    display: inline-block; 
    width: 47%; 
    height: 14vh; 
    background: url(../imagenes/aeropuerto.png) 0px 0px no-repeat; 
    background-size: 100% 200%;
    text-indent: -1000em; 
}
input[type=checkbox].check1:checked + label { 
    background: url(../imagenes/aeropuerto.png) 0px -70px no-repeat;
    background-size: 100% 200%;
}
input[type=checkbox].check2 {display: none;}
input[type=checkbox].check2 + label { 
    background: #fff; 
    display: inline-block; 
    width: 47%; 
    height: 14vh;  
    background: url(../imagenes/puerta.png) 0px 0px no-repeat; 
    text-indent: -1000em; 
background-size: 100% 200%;
}
input[type=checkbox].check2:checked + label { 
    background: url(../imagenes/puerta.png) 0px -70px no-repeat;
    background-size: 100% 200%;
}
input[type=checkbox].check3 {display: none;}
input[type=checkbox].check3 + label { 
    background: #fff; 
    display: inline-block; 
    width: 47%; 
    height: 14vh; 
    background: url(../imagenes/bus.png) 0px 0px no-repeat; 
    text-indent: -1000em; 
background-size: 100% 200%;
}
input[type=checkbox].check3:checked + label { 
    background: url(../imagenes/bus.png) 0px -70px no-repeat;
    background-size: 100% 200%;
}
input[type=checkbox].check4 {display: none;}
input[type=checkbox].check4 + label { 
    background: #fff; 
    display: inline-block; 
    width: 47%; 
    height: 14vh; 
    background: url(../imagenes/noche.png) 0px 0px no-repeat; 
    text-indent: -1000em; 
background-size: 100% 200%;
}
input[type=checkbox].check4:checked + label { 
    background: url(../imagenes/noche.png) 0px -70px no-repeat;
    background-size: 100% 200%;
}
input[type=checkbox].check5 {display: none;}
input[type=checkbox].check5 + label { 
    background: #fff; 
    display: inline-block; 
    width: 47%; 
    height: 14vh; 
    background: url(../imagenes/dominicales.png) 0px 0px no-repeat; 
    text-indent: -1000em; 
    background-size: 100% 200%;
}
input[type=checkbox].check5:checked + label { 
    background: url(../imagenes/dominicales.png) 0px -70px no-repeat;
    background-size: 100% 200%;
}
p{
    color: aqua;
}

#header {
    border: 1px solid black;
    height: 18vw;
    }
    
#titulo {
    font-size: 11vw;
    float: right; 
    margin-top: 3%;
    right: 7%;
}

#menuss {
    width: 100%;
    text-align: center;
    font: lighter 22px/40px cursive;   
    text-align: center;
    text-decoration: none;
    font-size: 8vw;
    float: right; 
    margin-top: 3%;
    right: 7%;



}


#horas{
    float: left;
   background-color: #FFCC00;
    width: 50%;
    height: 40px;



} 





#info{
    float: left;
    background-color: #FFCC00;
    width: 50%;
    height: 40px;
    
}


#resul {
    text-align: center;
    font-size: 15vw;
    background-color: #FC8505;
    width: 100%;
    color: White;
    
}

.precio {
    float: right;
    width: 47%;
    height: 14vh; 
    margin-right: 4%;
}

#unid {
    color: #8b8b8b;
    display: block;
    font-size: 11vw;

    
}


.textbox
    {
    border: 1px solid #DBE1EB;
    font-size: 11vw;
    border-radius: 40px;
    background: #FFFFFF;
    color: #2E3133;
    text-align: center;
    margin: 10px 4px 6px -5px;
    }